nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  background-color: black;
  width: 100%; /* 100% width for better responsiveness */
  padding: 1.5em; /* Padding for better spacing */
}

p {
  font-size: 2.5em; /* Adjusted font size */
  margin: 0; /* Remove default margin */
}

a {
  text-decoration: none;
  color: white;
}

.anchors {
  display: flex;
  flex-direction: row;
  column-gap: 2vw;
  font-size: 1em; /* Adjusted font size */
  margin-top: 1.5em; /* Adjusted margin */
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  .anchors {
    flex-direction: column;
    text-align: center;
    margin-top: 1em;
  }
}
